body{
  margin: 0;
  font-family: Roboto,arial,sans-serif;
  cursor: default;
  background-color: #1a1a1a;
}

.headerDiv{
  padding: 15px 5px 8px 5px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom-color: #3A3A3A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.headings{
  display: inline-block;
  width: 90%;
}

h1{
  color: #FFFFFF;
  margin: 0;
  font-size: 15px;
}

h2{
  color: #B8B8B8;
  margin: 0;
  font-size: 11px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 15px;
  top: -5px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  top: 1px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #c03636;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 13px;
}

.slider.round:before {
  border-radius: 50%;
}

.navDiv{
  padding: 7px 5px 8px 0px;
  margin-left: 4px;
  margin-right: 10px;
}

.navButton{
  height: 40px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.4);
}

.material-icons.md-light.md-inactive:hover {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

#vidQueueDiv{
  display: flex;
  flex-direction: column;
}

.video{
  padding: 10px 10px 6px 0;
  max-height: 72px;
}

.video.active{
  background-color: rgb(58, 58, 58);
}

.material-icons.md-red{
  color: #c03636;
  position: relative;
  top: 18px;
}

.vid-num{
  position: relative;
  top: 18px;
  color:rgb(202, 202, 202);
  padding-left: 7px;
  padding-right: 3px;
  font-size: 11px;
}

.thumbnail{
  width: 72px;
  height: 52px;
  margin-right: 8px;
  display: inline-block;
}

.vidInfo{
  display: inline-block;
  height: 52px;
  width: 320px;
  vertical-align: top;
}

h4{
  color:rgb(202, 202, 202);
  margin: 0;
  display: block;
  vertical-align: top;
}

h5{
  margin: 0;
  display: block;
  color: rgb(118, 118, 118);
  vertical-align: top;
}

.activeTriangle{
  display: inline-block;
  vertical-align: top;
  height: 52px;
}
